@using SportsStore.WebUI.HtmlHelpers
@model SportsStore.WebUI.Models.ProductListViewModel


@{
    ViewBag.Title = "Products";
}

@foreach(var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

<div class="pager">
   @Html.PageLinks(Model.PagingInfo, XhtmlMobileDocType => Url.Action("List", new { page = XhtmlMobileDocType }))
</div>

